---
const { src } = Astro.props;
---

<span class:list={['institution-logo', src ? '' : 'institution-logo--text-only']}>
  {src && <img class="institution-logo__mark" src={src} alt="" aria-hidden="true" />}
  <span class="institution-logo__label"><slot /></span>
</span>